.auth-container {
    max-width: 450px;
  
    .nav-tabs .nav-link.active {
      background-color: #000;
      color: #fff;
      border: none;
    }
  
    .form-control {
      border-radius: 6px;
    }
  }
  