.auth-container {
    max-width: 450px;
  
    .nav-tabs .nav-link.active {
      background-color: #000;
      color: #fff;
      border: none;
    }
  
    .form-control, .form-select {
      border-radius: 6px;
    }
  }
  
.error-text {
  color: #e74c3c;
  margin-top: 0.25rem;
}

.error-message {
  color: #e74c3c;
}
  